body {
  font-family: "Oswald", sans-serif;
}
h1 {
  text-align: center;
  font-size: 700;
}
h5 {
  text-align: center;
  font-size: medium;
}
h3 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
#oft {
  width: 70%;
  height: 2px;
  background: black;
}
a {
  padding-right: 10px;
  background-image: -o-linear-gradient(#b5eaea, #edf6e5);
  padding: 5px 2px;
  margin: 0 10px 0 10px;
}
#big-img {
  width: 80%;
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.anchors {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 700;
}
.manu-button {
  text-decoration: none;
  background: #fbe9e7;
  padding: 3px 8px 3px 8px;
  border-radius: 10px;
  color: black;
}
#trip-from-site {
  word-spacing: 10px;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}
section {
  padding: 50px;
}
.prob {
  height: 200px;
}
.h6-sizing {
  text-align: center;
  padding-left: ;
  background-color: #fef7dc;
  width: 33.33%;
}
#margin-top {
  margin-top: 41px;
}
.mother-div {
  display: flex;
  box-shadow: 5px 5px 5px 5px #0000001f;
}

.img-sizing {
  height: 250px;
  width: 200px;
}
#s {
  display: flex;
}
.make-it-small {
  width: 80%;
  background: #e0e0e0;
}
.div-sizing {
  border: 2px solid #bdbdbd;
  margin: 10px;
}
.FTD-sizing {
  padding: 8px 0px 8px 0px;
}
.no1 {
  padding-left: 20px;
}
.book-button {
  text-decoration: none;
  background-image: linear-gradient(#fbe9e7, #ff5722);
  padding: 4px 8px 4px 8px;
  color: black;
}
.s {
  display: flex;
}
.f-right {
  display: ;
}
.submit-button {
  text-decoration: none;
  background: #e7fbf7;
  padding: 3px 8px 3px 8px;
  border-radius: 10px;
  color: black;
}
.doc {
  display: flex;
}
#mathadakharap {
  display: flex;
  display: block;
  text-align: c;
}
